
:root {
    --gradient: linear-gradient(to right, rgba(243, 115, 53, 0.3), rgba(253, 200, 48, 0.3)); 
    

}


@keyframes pulse{
    0% {
        transform:  scale(1);
    }
    100% {
        transform:  scale(2);
    }
}
