@media screen and (max-width: 1100px) {
    /* starts here */
    /* ends here  */

    /* header section starts here */
    nav{
        display: none;
    }
    .header-explorer-text{
        align-self: center;
        width: 80%;
        padding-left: 30px;
        padding-right: 0;
        /* justify-content: center; */
    }
    .header-explorer-text p{
        text-align: left;
    }
    /* header section ends here  */

    /* explore-smt-new starts here */
    .explore-smt-new{
        flex-direction: column;
        /* justify-content: space-between; */
        margin-bottom: 10px;
        padding: 0;
        align-items: center;
    }
    .explore-smt-new1{
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 10px auto;
        align-items: center;
        padding: 0;
    }
    .explore-smt-new__text{
        margin: 10px auto;
    }
    /* explore-smt-new ends here  */

    /* footer section starts here */
    .explorer-text button{
        border-radius: 20px;
        width: 145px;
    }
    .explorer-text{
        margin-top: 130px;
    }
    footer{
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: center;
    }
    .footer-iconholder{
        /* border: 2px solid green; */
        padding: 0;
        margin-bottom: 20px;
        width: 100px;
    }
    .footer-copyright{
        display: none;
    }
    .mobile-footer-copyright{
        color: #ffffff;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 15px 30px;
        font-size: 18px;
        text-align: center;
    }
    /* footer section ends here  */
}